extends ../layouts/default

block content
    div.img-start
        h1.name-start TRAIL
    .container
        h1 Bienvenue sur le site de Trail de l'ASCPA
        p Vous retrouverez ici toutes les informations relatives à cette activité ainsi que des photos.
        if user && user.canAccessKeystone
            p
                a(href='/keystone').btn.btn-lg.btn-primary Administration